@import "~bootstrap/scss/bootstrap";

body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}

.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }
}

.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em 17%;

    form {

        display:flex;
        flex-direction:column;
        margin: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }

        button {
            margin: 0.5em;
        }
    }

    #closeUpdateForm {
        background-color:rgba(226, 14, 14, 0.9);
        &:hover{
            background-color:rgb(214, 18, 18);
        }
    }

    ul {
        list-style-type:none;
        // margin:1em 1em;
        padding:0;

        li {
            width: 30rem;
            font-size: .85em;
            margin: 1em .5em;

            &.complete-true {
              .mySpan {
                background: rgba(16, 138, 68, 0.9);
                &:hover {
                   background: rgb(16, 138, 68);
                }
              }
            }
            &.complete-false {
                .mySpan {
                  background:rgba(223, 10, 10, 0.85);
                  &:hover {
                    background: rgb(223, 10, 10);
                  }
                }
              }

              .mySpan {
                color:white;
                
                cursor:pointer;
                &:hover {
                    background: pink;
                }
            }
            span, input {
                border: .5px solid #eee;
                display:inline-block;
                padding: .75em .5em;
                width: 100%;
            }

            button {
                background: transparent;
                border:none;
                color:blue;
                cursor:pointer;
                padding:0;
                margin: 0 .75em;
            }
        }
    }
}

.formsDiv{
    border-radius: 3px;
    box-shadow: 2px 2px 4px black;
    margin: 1em;

    h3{
        margin: 0.5em;
    }
}

#counterDiv{
    margin: 2em;
    width: 95%;
    background-color: grey;
    padding: 0.5em;

    h2{
        color: white;
    }
}


.toast-body{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1;
}

.toast-header{
    display: grid;
    grid-template-columns:4.7rem 14.8rem 1.2rem;
    grid-template-rows: 1;

    .closeBtn{
        color: blue;
        padding: 6px;
        
        &:hover{
            cursor: pointer;
            color: rgb(214, 18, 18);
        }
    }

    button {
        display: none;
    }
    span {
        text-align: center;
    }
}

#pages{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    .pagination{
        text-align: center;
        li {
            text-align: center;
        }
    }

    .page-item {
        width: 1rem;
        &:hover{
            cursor: pointer;
        }
    }
}